.container, .container2 {
  margin: 0 auto;
  position: relative; }

@media (min-width: 1100px) {
  .container {
    width: 800px; }
  .container2 {
    width: 1100px; } }

@media (max-width: 640px) {
  header {
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 20px; }
    header .menu {
      display: block;
      margin: 0 auto;
      padding: 0;
      width: 100%; }
      header .menu li {
        text-align: center;
        display: block;
        padding: 0px 0 20px 0; }
    header .menuSrc {
      margin: 0 auto;
      display: none; } }

.modalDialog {
  position: fixed;
  z-index: 6;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none; }
  .modalDialog:target {
    opacity: 1;
    pointer-events: auto; }
  .modalDialog .modalContent {
    display: inline-flex;
    width: 1000px;
    height: 600px;
    margin: 10% auto;
    position: relative;
    background-color: #ebebeb;
    padding: 10px; }
    .modalDialog .modalContent .close {
      background: #500e5e;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      right: -25px;
      top: -25px;
      width: 50px;
      height: 50px;
      text-decoration: none;
      font-weight: bold;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      -moz-box-shadow: 1px 1px 3px #000;
      -webkit-box-shadow: 1px 1px 3px #000;
      box-shadow: 1px 1px 3px #000;
      -moz-transition: background .4s, color .4s; }
      .modalDialog .modalContent .close:hover {
        background: white;
        color: #500e5e; }
    .modalDialog .modalContent .cityPhoto {
      display: flex;
      align-items: center;
      justify-content: space-between;
      align-content: space-between;
      background-image: url("../components/img/ny.jpg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      width: 50%;
      height: 100%; }
      .modalDialog .modalContent .cityPhoto input[type='button'] {
        height: 100px;
        width: 50px;
        cursor: pointer;
        color: white;
        background-color: rgba(0, 0, 0, 0.8);
        border: none; }
      .modalDialog .modalContent .cityPhoto .modalPrevImg {
        border-radius: 0 100px 100px 0;
        font-size: 20px; }
      .modalDialog .modalContent .cityPhoto .modalNextImg {
        border-radius: 100px 0 0 100px;
        font-size: 20px; }
    .modalDialog .modalContent .cityDescription {
      overflow: auto;
      width: 50%;
      padding: 5px 20px 13px 30px;
      background: white;
      text-align: left; }
      .modalDialog .modalContent .cityDescription .endLink {
        width: 25%;
        margin-top: 20px;
        padding: 15px 40px 15px 40px;
        float: right;
        text-align: center; }

.cities {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: space-around;
  margin-bottom: 100px; }

.destination {
  margin: 0 auto;
  width: 350px;
  height: 350px;
  background-color: white;
  position: relative;
  text-align: bottom; }
  .destination p {
    padding-top: 85%;
    font-weight: bold; }
  .destination:hover .pOne {
    -moz-transform: rotate(-14deg);
    transform: rotate(-14deg); }
  .destination:hover .pTwo {
    -moz-transform: rotate(-7deg);
    transform: rotate(-7deg); }

.photo {
  box-shadow: 0px 1px 1px gray;
  position: absolute;
  top: 62.5px;
  left: 62.5px;
  width: 225px;
  height: 225px;
  transition: transform 1s; }
  .photo.pOne {
    background-color: #ebebeb; }
  .photo.pTwo {
    background-color: #e1e1e1; }
  .photo.pThree {
    background: #ebebeb url("../components/img/photo.png") no-repeat center center;
    background-size: 30% 25%; }

h1 {
  font-family: 'Playfair Display', sans-serif;
  font-weight: 400;
  font-size: 80px; }

h2 {
  color: #323232;
  font-family: 'Playfair Display', sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 64px; }

h3 {
  color: #323232;
  font-family: 'Playfair Display', sans-serif;
  font-weight: 400;
  font-size: 36px; }

h4 {
  font-family: 'Playfair Display', sans-serif;
  font-weight: 400; }

h5 {
  font-family: 'Playfair Display', sans-serif;
  font-weight: 400; }

h6 {
  font-family: 'Playfair Display', sans-serif;
  font-weight: 400; }

p {
  color: #323232;
  line-height: 1.5;
  font-size: 17px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300; }

span {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300; }
  span.commas {
    color: #500e5e;
    font-family: 'Playfair Display', sans-serif;
    font-weight: 400; }

header {
  font-family: 'Roboto', sans-serif;
  font-weight: 400; }

.endLink {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800; }

form {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300; }

.cityDescription p {
  font-size: 14px;
  line-height: 2;
  color: #939393; }

.close {
  font-size: 1.25rem;
  transform: rotate(45deg); }

.quote .markBegin {
  position: absolute;
  top: 10px;
  left: 20px;
  font-family: 'Playfair Display', sans-serif;
  letter-spacing: 0;
  color: #939393;
  font-size: 56px; }

.quote .markEnd {
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-family: 'Playfair Display', sans-serif;
  color: #939393;
  font-size: 56px; }

.slider {
  margin: 100px 0 40px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between; }

.slidePrev {
  position: relative;
  height: 450px;
  width: 500px;
  border: 8px solid white;
  -moz-transition: transform .4s;
  cursor: pointer;
  background: url("../components/img/slide1.jpg") no-repeat center center; }
  .slidePrev:hover {
    transform: scale(0.98); }
  @media (min-width: 641px) and (max-width: 1099px) {
    .slidePrev {
      width: 150px; } }
  @media (max-width: 640px) {
    .slidePrev {
      width: 75px; } }

.slideMain {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
  position: relative;
  height: 450px;
  width: 400px;
  border: 8px solid #b3b3b3;
  box-shadow: 0 0 5px #939393;
  background: url("../components/img/slide2.jpg") no-repeat center center; }
  .slideMain .quote {
    position: relative;
    background-color: white;
    text-align: center;
    padding: 80px 40px 50px 40px;
    margin: 0 30px 30px 30px;
    font-size: 15px; }
    .slideMain .quote img {
      position: absolute;
      left: 30%;
      top: -60px;
      width: 120px;
      height: 120px;
      border-radius: 60px; }

.slideNext {
  position: relative;
  cursor: pointer;
  height: 450px;
  width: 500px;
  background: url("../components/img/slide3.jpg") no-repeat center center;
  -moz-transition: transform .4s; }
  .slideNext:hover {
    transform: scale(0.98); }
  @media (min-width: 641px) and (max-width: 1099px) {
    .slideNext {
      width: 150px; } }
  @media (max-width: 640px) {
    .slideNext {
      width: 75px; } }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

a:link {
  color: inherit;
  text-decoration: none; }

.smallMenu {
  width: 100%;
  height: 70px;
  z-index: 99;
  position: fixed;
  top: 0;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  text-align: center;
  background-color: white;
  margin: 0 auto;
  cursor: pointer;
  visibility: hidden; }
  @media (max-width: 640px) {
    .smallMenu {
      visibility: visible; } }

header {
  position: fixed;
  z-index: 5;
  width: 100%;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  color: #500e5e;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3); }
  header ul {
    list-style-type: none; }
    header ul li {
      font-size: 18px;
      color: #939393 !important;
      display: inline-block;
      padding-right: 60px;
      vertical-align: middle; }
      @media (min-width: 640px) and (max-width: 1100px) {
        header ul li {
          padding-right: 40px; } }
      header ul li img {
        width: 50px;
        height: 50px; }
      header ul li a:hover {
        color: #500e5e; }
  header .menuSrc {
    width: 180px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    float: right;
    padding: 7px 0 7px 0;
    margin-right: 30px;
    border: 2px solid rgba(0, 0, 0, 0.2); }
    header .menuSrc .menuSrcSubmit {
      display: flex;
      background: url("../components/img/search-icon.png") no-repeat center center;
      background-size: 15px 15px;
      border: none;
      width: 100%;
      cursor: pointer;
      flex-grow: 1;
      -moz-transition: transform .4s;
      -webkit-transition: transform .4s; }
      header .menuSrc .menuSrcSubmit:hover {
        transform: scale(1.1); }
    header .menuSrc .menuSrcText {
      flex-grow: 3;
      padding-left: 5px;
      display: flex;
      color: #500e5e;
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      font-size: 12px;
      border: none; }
  @media (min-width: 640px) and (max-width: 1100px) {
    header {
      display: flex;
      justify-content: space-between;
      flex-direction: row; } }
  @media (max-width: 640px) {
    header {
      display: none;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      padding-bottom: 20px; }
      header .menu {
        display: block;
        margin: 0 auto;
        padding: 0;
        width: 100%; }
        header .menu li {
          text-align: center;
          display: block;
          padding: 0px 0 20px 0; } }

.jumbotron {
  display: flex;
  align-items: center;
  position: relative;
  color: white;
  height: 600px;
  background-image: url("../components/img/flyPanel-bg.jpg");
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover; }
  .jumbotron h1 {
    text-align: middle; }
  .jumbotron .flightSearch {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
    padding: 0;
    background-color: #500e5e;
    color: white;
    position: absolute;
    z-index: 3;
    bottom: -105%;
    width: 100%;
    height: 150px; }
    .jumbotron .flightSearch form {
      display: flex;
      justify-content: space-between;
      align-items: center;
      overflow: hidden;
      height: 100%;
      width: 100%;
      padding: 0;
      margin: 0; }
      .jumbotron .flightSearch form .people {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; }
        .jumbotron .flightSearch form .people img {
          width: 12px;
          height: 12px; }
        .jumbotron .flightSearch form .people input[type="number"] {
          -moz-appearance: textfield;
          overflow: visible;
          font-size: 16px;
          width: 50px;
          background: url("../components/img/group-icon.png") no-repeat center left;
          background-size: 25px 20px;
          padding-left: 40px; }
      .jumbotron .flightSearch form input {
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        background-color: #500e5e;
        color: white;
        border: none;
        margin: 0 0 0 0;
        overflow: visible; }
        .jumbotron .flightSearch form input[type="text"] {
          font-weight: 100;
          margin: 0 40px 0 40px;
          letter-spacing: 2px;
          line-height: 2.5;
          border-bottom: 2px solid rgba(255, 255, 255, 0.3); }
        .jumbotron .flightSearch form input[type="date"] {
          background: url("../components/img/calendar-icon.png") no-repeat center left;
          background-size: 20px 20px;
          width: 90px;
          padding-left: 40px; }
        .jumbotron .flightSearch form input[type="submit"] {
          box-shadow: -10px 0px 15px rgba(0, 0, 0, 0.3);
          justify-content: flex-end;
          background-color: #69157a;
          font-size: 36px;
          cursor: pointer;
          min-width: 100px;
          height: 100%; }

.endLink {
  font-size: 16px;
  font-weight: 700;
  color: #500e5e;
  padding: 15px 55px 15px 55px;
  border: 2px solid #500e5e;
  -moz-transition: background-color .4s, color .4s; }
  .endLink:hover {
    background-color: #500e5e;
    color: white; }

.whitePanel {
  position: relative;
  z-index: 2;
  box-shadow: 0 20px 0 rgba(0, 0, 0, 0.2); }

.wp1 {
  padding: 100px 0 100px 0;
  text-align: center;
  margin: 0 auto;
  color: #939393;
  background-color: white; }
  .wp1 .images {
    padding-top: 40px; }
    .wp1 .images img {
      vertical-align: middle;
      width: 100px; }
      .wp1 .images img.palm {
        float: left; }
      .wp1 .images img.dollar {
        float: right; }

.pause {
  position: relative;
  z-index: 1;
  height: 170px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }
  .pause.p1 {
    background-image: url("../components/img/pauseOne.jpg"); }
  .pause.p2 {
    background-image: url("../components/img/pauseTwo.jpg"); }

.wp2 {
  position: relative;
  z-index: 4;
  text-align: center;
  margin: 0 auto;
  padding: 40px 0 100px 0;
  text-align: center;
  color: #939393;
  background-color: white; }
  .wp2 .endLink {
    color: #500e5e; }
    .wp2 .endLink:hover {
      color: white; }

.wp3 {
  text-align: center;
  margin: 0 auto;
  padding: 40px 0 100px 0;
  text-align: center;
  color: #939393;
  background-color: white; }
  .wp3 i {
    vertical-align: top;
    color: #500e5e; }
  .wp3 .line {
    display: flex;
    align-items: center; }
    .wp3 .line hr {
      border: 2px solid #500e5e;
      text-align: center; }
      .wp3 .line hr.v1 {
        float: left;
        width: 42%; }
      .wp3 .line hr.v2 {
        float: right;
        width: 42%; }
  .wp3 h1 {
    color: #939393; }
  .wp3 .endLink {
    width: 800px;
    color: #500e5e; }
    .wp3 .endLink:hover {
      color: white; }

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 170px;
  background-image: url("../components/img/pauseTwo.jpg");
  background-position: center center;
  background-size: contain; }
  footer img {
    margin: 0 auto;
    width: 150px; }
