.container, .container2{
  margin: 0 auto;
  position: relative;
}

@media (min-width: 1100px) {
  .container {
    width:800px;
  }
  .container2 {
    width:1100px;
  }
}

@media (min-width: 641px) and (max-width: 1099px){
  .smallMenu{

  }
}

@media (max-width: 640px) {
  .smallMenu{
    width: 100%;
    z-index: 99;
    position: fixed;
    top: 0;
    box-shadow: 1px 1px 1px rgba(0,0,0, 0.3);
    text-align: center;
    background-color: white;
    margin: 0 auto;
    cursor: pointer;
  }
  header{
    flex-direction: column !important;
    justify-content: space-around;
    padding-bottom: 20px;
    .menu{
      display: block;
      margin: 0 auto;
      padding: 0;
      width: 100%;
      li{
        text-align: center;
        display: block;
        padding: 0px 0 20px 0;
      }
    }
    .menuSrc{
      margin: 0 auto !important;
      display: none;
    }
  }
}
