////Flex
.cities{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: space-around;
  margin-bottom: 100px;
}

.destination{
  margin: 0 auto;
  width: 350px;
  height: 350px;
  background-color: white;
  position: relative;
  text-align: bottom;
  p{
    padding-top: 85%;
    font-weight: bold;
  }
  &:hover{
    .pOne{
      -moz-transform: rotate(-14deg);
      transform: rotate(-14deg);
    }
    .pTwo{
      -moz-transform: rotate(-7deg);
      transform: rotate(-7deg);
    }
  }

}
.photo{
  box-shadow: 0px 1px 1px gray;
  position: absolute;
  top: 62.5px;
  left: 62.5px;
  width: 225px;
  height:225px;
  transition: transform .4s;
  &.pOne{
    background-color: #ebebeb;
  }
  &.pTwo{
    background-color: #e1e1e1;
  }
  &.pThree{
    background: #ebebeb url('../components/img/photo.png') no-repeat center center;
    background-size: 30% 25%;
  }
}
