h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', sans-serif;
  font-weight: 400;
}
h1{
 font-size: 80px;
}

h2{
 color: #323232;
 letter-spacing: 2px;
 font-size: 64px;
}
h3{
  color: #323232;
  font-size: 36px;
}

p{
   color: #323232;
   line-height: 1.5;
   font-size: 17px;
   font-family: 'Open Sans', sans-serif;
   font-weight: 300;
}
span{
   font-family: 'Open Sans', sans-serif;
   font-weight: 300;
   &.commas{
     color:$violet;
     font-family: 'Playfair Display', sans-serif;
     font-weight: 400;
   }
}
header{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  .smallMenu{
    p{
      font-size: 18px;
    }
  }
}
.endLink{
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}
form{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
.cityDescription{
  p{
    font-size: 14px;
    line-height: 2;
    color: $gray;
  }
}
.close {
  font-size: 1.25rem;
  transform: rotate(45deg) ;
}
.quote{
  .markBegin{
    position: absolute;
    top: 10px;
    left:20px;
    font-family: 'Playfair Display', sans-serif;
    letter-spacing: 0;
    color: $gray;
    font-size: 56px;
  }
  .markEnd{
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-family: 'Playfair Display', sans-serif;
    color: $gray;
    font-size: 56px;
  }
}
