.slider{
  margin: 100px 0 40px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  .slidePrev{
    display: none;
    position: relative;
    height: 450px;
    width: 200px;
    border: 8px solid white;
    -moz-transition: transform .4s;
    -webkit-transition: transform .4s;
    cursor: pointer;
    background: url('../components/img/slide1.jpg') no-repeat center center;
    &:hover{
      transform: scale(.98);
    }
  }
  .slideMain{
    cursor: pointer;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    position: relative;
    height: 450px;
    width: 400px;
    border: 8px solid #b3b3b3;
    box-shadow: 0 0 5px $gray;
    background: url('../components/img/slide2.jpg') no-repeat center center;
    .quote{
      position: relative;
      background-color: white;
      text-align: center;
      padding: 80px 40px 50px 40px;
      margin: 0 30px 30px 30px;
      font-size: 15px;
      img{
        position: absolute;
        left: 30%;
        top: -60px;
        width: 120px;
        height: 120px;
        border-radius: 60px;
      }
    }
  }
  .slideNext{
    display: none;
    position: relative;
    cursor: pointer;
    height: 450px;
    width: 200px;
    background: url('../components/img/slide3.jpg') no-repeat center center;
    -moz-transition: transform .4s;
    -webkit-transition: transform .4s;
    &:hover{
      transform: scale(.98);
    }
  }
}
